<p>A "Natural Grow" leveling mod where your attributes and level grow automatically as your skills increase, and your skills will also decay over time (Optional).</p>
<div class="center">
  <a href="/img/ncgdmw-lua1.png"><img src="/img/ncgdmw-lua1.png" title="The stats menu" /></a>
  <a href="/img/ncgdmw-lua2.png"><img src="/img/ncgdmw-lua2lq.png" title="The script settings menu" /></a>
  <figcaption style="font-size: 0.9em;">These photos include <a href="https://www.nexusmods.com/morrowind/mods/43076">Chocolate UI</a>.</figcaption>
</div>
<h4 id="install">Installation:</h4>
<p>
  Please see <a href="/readme/">the README</a> for full installation and usage instructions.
</p>
